doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Elevator App

    style.
      :root {
        --floors: #{floors}
      }
    
    script.
      const floors = #{floors}

    link(rel='stylesheet' href='./style.scss')

  body
    .app
      .header
        h3 Elevator App
        nav
          a#mute(href="#")
            i.fas.fa-volume-up.fa-lg
            span.icon-text Sound

          a(href="https://github.com/rodrigoaddor/elevator-app")
            i.fab.fa-github.fa-lg
            span.icon-text Github

      .building
        .elevator-shaft
          #elevator
        .floors
          each _, i in Array(floors)
            .floor
              button.icon-button.fa-stack(data-floor=i)
                i.fas.fa-square.fa-stack-2x.fa-inverse
                i.fas.fa-stack-1x(class=i == 0 ? 'fa-sort-up' : i == floors - 1 ? 'fa-sort-down' : 'fa-sort')   
      .buttons
        each _, i in Array(floors)
          button.button.button-outline(data-floor=i) #{i == 0 ? 'T' : i }

    script(src='./main.ts')
